doctype html
html(lang='en', ng-app="vsd")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/bower.css')
  body
   block content
    
  block js
    script(type="text/javascript", src='js/bower.js')
    script(type="text/javascript", src='socket.io/socket.io.js')
    script(type="text/javascript", src='js/app.js')
    if ENV_DEVELOPMENT
      script(src='http://localhost:35729/livereload.js')
